@model List<Category>
<h2>Category List</h2>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>CateGory Name</th>
        <th>Display Order</th>
    </tr>
    </thead>
    <tbody>
      @foreach (var obj in Model.OrderBy(c =>c.Name))
      {
          <tr>
              <td>@obj.Name</td>
              <td>@obj.DisplayOrder.ToString()</td>
          </tr>
      }
    </tbody>
</table>